# Ignore Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local database storage
chroma_db/
data/

# Ignore saved models locally
checkpoint/

# Ignore environment variables & secrets
.env
chromadb.env

# Ignore Docker-related files
Dockerfile
Dockerfile.pg
docker-compose.yaml

# Ignore system files & editor configs
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db

# Ignore virtual environments
.venv/

# Ignore version control
.git/
