AZURE__ACCOUNT_NAME=<Azure_account_name>
AZURE__ACCOUNT_KEY=<Azure_account_key>
AZURE__CONTAINER_NAME=<Azure_container_name>

LLM__OPENAI_API_KEY=<OpenAI_api_key>

DB__POSTGRES_HOST=localhost
DB__POSTGRES_USER=user
DB__POSTGRES_PASSWORD=psswd
DB__POSTGRES_DB=db
DB__POSTGRES_PORT=5432

APP__APP_PORT=8000