chromadb==1.0.15
huggingface-hub==0.28.1
langchain==0.3.17
langchain-community==0.3.16
langchain-core==0.3.33
langchain-docling==1.0.0
langchain-experimental==0.3.4
langchain-openai==0.2.14
langchain-text-splitters==0.3.5
sentence-transformers==5.0.0
transformers==4.48.0
torch==2.7.1
pypdf>=5.2.0
transformers==4.48.0
scikit-learn==1.7.1
matplotlib==3.10.3
azure-storage-blob==12.26.0
python-dotenv>=1.0.1
psycopg2-binary==2.9.10
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
sqlmodel==0.0.24
tenacity==9.1.2
langserve==0.3.1
fastapi==0.115.8
# langsmith==0.3.4
langgraph==0.2.69
python-multipart>=0.0.20
